node_modules/
.expo/
.env
.env.local
.env.development
.env.production
.env*.local
.DS_Store
*.apk
*.log
*.brotli.txt
*.inflateRaw.txt
Devign-Document.pdf

# Mobile Frontend
Frontend/node_modules/
Frontend/.expo/
Frontend/expo-env.d.ts
Frontend/android/

# Backend Server
Server/node_modules/
Server/.env
Server/uploads/
