node_modules/
.expo/
.env
.DS_Store
*.apk
*.log
Devign-Document.pdf

# Mobile Frontend
Frontend/node_modules/
Frontend/.expo/
Frontend/expo-env.d.ts

# Backend Server
Server/node_modules/
Server/.env
Server/uploads/
